# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CAL/\.vs/CAL/v15/Browse\.VC\.db

CAL/\.vs/CAL/v15/Browse\.VC\.opendb

CAL2016\.vcxproj

CAL2016\.vcxproj\.filters

CAL2016\.vcxproj\.user

CAL/\.vs/CAL/v15/

CAL/

Debug/

\.idea/

cmake-build-debug/

CMakeLists\.txt

docs/html/

\.settings/

\.project

arestas\.txt

\.cproject

Ficha JUNG\.doxyfile

icon\.gif

icon\.png

nos\.txt

src/FichaJUNG\.cpp
